Using 'Include' To Split Up Large Templates
If you look at typical device configuration, you will see a 
number of sections corresponding to given features. You might have interface configuration section, routing protocol one, access-lists, routing policies, etc. We could write single template generating this entire configuration: